 <!-- start of footer  -->

 <footer style="border-top: #f07f1a 1px solid;" >
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>GAMER ZONE</h2>
          <P>hope you spent fun time with us</P>
        </div>
        <div class="col-sm-4">
          <h2>PAGES</h2>
          <ul style="list-style: none;">
            <li><a class="nav-link" href="#">Games</a></li>
            <li><a class="nav-link" href="#">Blog</a></li>
            <li><a class="nav-link" href="#">Contact Us</a></li>
            <li><a class="nav-link" href="#">About Us</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h2 style="text-align:left">SUBSCRIBE OUR NEWSLETTER</h2>
          <form action="">
            <input type="email" placeholder="Your Email" style="background-color: #252b34; padding: auto;"> <button style="color: white; background-color:#f07f1a ;"><i class="fas fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="end-page">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>© 2022 Chaouki. All rights reserved.</p>
          </div>
          <div class="col">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-twitch"></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
          </div>
  
        </div>
      </div>
    </div>
  
  </footer>
  

  <!-- end of footer -->
